*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgb(233, 232, 232); 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navb{
    
    background: #003d669a ;
    height: 35px;
    font-weight: bold;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    border-radius: 50px;   
    

}
.navbar-nav li{
    color: rgb(4, 18, 80);
    text-align: center;
    font-size: 25px;
    list-style: none;/* padding: 20; */
    
}
.container-form{
    max-width: 600px;
    padding: 20px auto;
    border-radius: 15px;
    margin: 50px auto 20px;
    background-color: rgb(91, 186, 199);
    box-shadow: 0 0 10 rgbd rgb(3, 8, 3);
    /* margin-left: 20px; */

}
.form-group{
    margin: 20px;

}
.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h1{
    text-align: center;
    padding: 15px;
    color: #1859bb;
    font-size: 18px;
}

label{
    /* display: block; */
    margin-bottom: 5px;
    color: #0a1018 
}
/* Contedio del button*/
.container-button{
    text-align: center;
    margin-bottom: 15px;
  
}
.form-check{
    cursor: pointer;
    text-align: center;
    
}
button {
    background-color: #1859bb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px; 
    
}
button:hover {
    background-color: #1de459;  
    
}
.container-events{
    margin-right: 20px;
}


#event-list{
    margin-top: 30px;

}
#eventos{
    list-style: none;
    padding: 0;
}

#events li{
    background-color: #124ca3;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#events li.removing {
    opacity: 0;
    transform: translateY(-20px);
    height: 0;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease;
}
#events li.show {
    opacity: 1;
    transform: translateY(0);
}

.delete-btn{
    background-color: rgb(196, 17, 17);

}

.delete-btn:hover{
    background-color: rgb(248, 7, 7);
    
}


/* .container-events{
    max-width: 600px;
    padding: 50px auto;
    border-radius: 15px;
    margin: 50px auto;
    background-color: rgb(91, 186, 199);
   
} */

.empty-block {
    width: 100%;    /* Ancho del bloque */
    background-color: #f0f0f0;  /* Color de fondo */
    border: 1px solid #3b67c5;     /* Borde del bloque */
    padding: 20px;
   border-radius: 5px;
   /* max-width: 600px; */
   text-align: center;
   /* margin: 0 auto;  */
   margin-bottom: 20px;

}
h2{
    text-align: center;
    padding: 15px;
    /* margin: auto; */
    color: #1859bb;

}
/* .container-events{
    display: flex;
    align-items: center;
} */

#search{
    padding: 7px;
    border-radius: 5px;
    background-color: #c5ccd6;
    color: #0a1018;
}
.main-container {
    display: flex;           /* Hacemos que los elementos internos se alineen en fila */
    align-content: space-between;
    align-items: flex-start; /* Alinear los elementos al inicio vertical */              
    width: 90%; 
}
.container-footer{
    background: #003d669a ;
    padding: 20px;
    margin-top: auto; 
    border-radius: 50px; 
       
}
p{
    text-align: center;
    font-weight: bold;
}